.App {
  background: black;
  /* box-sizing: border-box; */ 
  /* border: 4px solid white; */
  /* margin: 0.5rem auto; */
  width: 100vw;
  height: 100vh;
  /* font-size: 1rem;
  position: relative;
  overflow: hidden; */
}

.GridBoard {
  height: 700px;
  width: 670px;
}

.game-board {
  display: grid;
  width: 1340px;
  height: 940px;
  margin: auto;
  padding-top: 1rem;
}

.tile {
  border-style: solid;
  background: tan;
}

.playerMove {
  background-color: green;
}

.enemyMove {
  background-color: green;
}

.fontLink {
  font-family: 'VT323';
  color: red
}

.startMenu {
  background: linear-gradient(217deg, rgba(222, 184, 135, .8), rgba(0, 0, 0, 0.616) 70.71%),
  linear-gradient(127deg, rgba(222, 184, 135, .8), rgb(0, 0, 0) 70.71%),
  linear-gradient(336deg, rgb(0, 0, 0), rgba(0, 0, 255, 0) 70.71%);
  width: 100vw;
  height: 100vh;
}

/* .Sprite {
  background-image: url("./assests/m1.png");
} */