.App {
  background: black;
  box-sizing: border-box;
  border: 4px solid white;
  margin: 0.5rem auto;
  width: 1000px;
  height: 700px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.GridBoard {
  height: 700px;
  width: 670px;
}

/* .Sprite {
  background-image: url("./assests/m1.png");
} */